@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: 100%;
  font-weight: normal;
}

* {
  font-family: "Roboto", sans-serif;
}

.ts-1 {
  font-size: 0.75rem;
}
@media (max-width: 1024px) {
  .ts-1 {
    font-size: 0.6rem;
  }
}
@media (max-width: 768px) {
  .ts-1 {
    font-size: 0.5rem;
  }
}
@media (max-width: 480px) {
  .ts-1 {
    font-size: 0.375rem;
  }
}

.ts-2 {
  font-size: 1.25rem;
}
@media (max-width: 1024px) {
  .ts-2 {
    font-size: 1rem;
  }
}
@media (max-width: 768px) {
  .ts-2 {
    font-size: 0.8333333333rem;
  }
}
@media (max-width: 480px) {
  .ts-2 {
    font-size: 0.625rem;
  }
}

.ts-3 {
  font-size: 1.75rem;
}
@media (max-width: 1024px) {
  .ts-3 {
    font-size: 1.4rem;
  }
}
@media (max-width: 768px) {
  .ts-3 {
    font-size: 1.1666666667rem;
  }
}
@media (max-width: 480px) {
  .ts-3 {
    font-size: 0.875rem;
  }
}

.ts-4 {
  font-size: 2.25rem;
}
@media (max-width: 1024px) {
  .ts-4 {
    font-size: 1.8rem;
  }
}
@media (max-width: 768px) {
  .ts-4 {
    font-size: 1.5rem;
  }
}
@media (max-width: 480px) {
  .ts-4 {
    font-size: 1.125rem;
  }
}

.ts-5 {
  font-size: 2.75rem;
}
@media (max-width: 1024px) {
  .ts-5 {
    font-size: 2.2rem;
  }
}
@media (max-width: 768px) {
  .ts-5 {
    font-size: 1.8333333333rem;
  }
}
@media (max-width: 480px) {
  .ts-5 {
    font-size: 1.375rem;
  }
}

.ts-6 {
  font-size: 3.25rem;
}
@media (max-width: 1024px) {
  .ts-6 {
    font-size: 2.6rem;
  }
}
@media (max-width: 768px) {
  .ts-6 {
    font-size: 2.1666666667rem;
  }
}
@media (max-width: 480px) {
  .ts-6 {
    font-size: 1.625rem;
  }
}

.wt-1 {
  font-weight: 200;
}

.wt-2 {
  font-weight: 400;
}

.wt-3 {
  font-weight: 600;
}

.wt-4 {
  font-weight: 800;
}

.ta-center {
  text-align: center;
}

@media (max-width: 1024px) {
  .ta-center-l {
    text-align: center;
  }
}
@media (max-width: 768px) {
  .ta-center-t {
    text-align: center;
  }
}
@media (max-width: 480px) {
  .ta-center-m {
    text-align: center;
  }
}
.ta-left {
  text-align: left;
}

@media (max-width: 1024px) {
  .ta-left-l {
    text-align: left;
  }
}
@media (max-width: 768px) {
  .ta-left-t {
    text-align: left;
  }
}
@media (max-width: 480px) {
  .ta-left-m {
    text-align: left;
  }
}
.ta-right {
  text-align: right;
}

@media (max-width: 1024px) {
  .ta-right-l {
    text-align: right;
  }
}
@media (max-width: 768px) {
  .ta-right-t {
    text-align: right;
  }
}
@media (max-width: 480px) {
  .ta-right-m {
    text-align: right;
  }
}
.ta-justify {
  text-align: justify;
}

@media (max-width: 1024px) {
  .ta-justify-l {
    text-align: justify;
  }
}
@media (max-width: 768px) {
  .ta-justify-t {
    text-align: justify;
  }
}
@media (max-width: 480px) {
  .ta-justify-m {
    text-align: justify;
  }
}
.t-capital {
  text-transform: capitalize;
}

.t-lower {
  text-transform: lowercase;
}

.t-upper {
  text-transform: uppercase;
}

.t-italic {
  font-style: italic;
}