@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: 100%;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style-type: none;
}

* {
  font-family: "Roboto", sans-serif;
}

.mr-0 {
  margin: var(--pdmr-0);
}

.pd-0 {
  padding: var(--pdmr-0);
}

.pdx-0 {
  padding: 0rem var(--pdmr-0);
}

.mrx-0 {
  margin: 0rem var(--pdmr-0);
}

.pdy-0 {
  padding: var(--pdmr-0) 0rem;
}

.mry-0 {
  margin: var(--pdmr-0) 0rem;
}

.pdl-0 {
  padding-left: var(--pdmr-0);
}

.mrl-0 {
  margin-left: var(--pdmr-0);
}

.pdr-0 {
  padding-right: var(--pdmr-0);
}

.mrr-0 {
  margin-right: var(--pdmr-0);
}

.pdt-0 {
  padding-top: var(--pdmr-0);
}

.mrt-0 {
  margin-top: var(--pdmr-0);
}

.pdb-0 {
  padding-bottom: var(--pdmr-0);
}

.mrb-0 {
  margin-bottom: var(--pdmr-0);
}

.mr-1 {
  margin: var(--pdmr-1);
}

.pd-1 {
  padding: var(--pdmr-1);
}

.pdx-1 {
  padding: 0rem var(--pdmr-1);
}

.mrx-1 {
  margin: 0rem var(--pdmr-1);
}

.pdy-1 {
  padding: var(--pdmr-1) 0rem;
}

.mry-1 {
  margin: var(--pdmr-1) 0rem;
}

.pdl-1 {
  padding-left: var(--pdmr-1);
}

.mrl-1 {
  margin-left: var(--pdmr-1);
}

.pdr-1 {
  padding-right: var(--pdmr-1);
}

.mrr-1 {
  margin-right: var(--pdmr-1);
}

.pdt-1 {
  padding-top: var(--pdmr-1);
}

.mrt-1 {
  margin-top: var(--pdmr-1);
}

.pdb-1 {
  padding-bottom: var(--pdmr-1);
}

.mrb-1 {
  margin-bottom: var(--pdmr-1);
}

.mr-2 {
  margin: var(--pdmr-2);
}

.pd-2 {
  padding: var(--pdmr-2);
}

.pdx-2 {
  padding: 0rem var(--pdmr-2);
}

.mrx-2 {
  margin: 0rem var(--pdmr-2);
}

.pdy-2 {
  padding: var(--pdmr-2) 0rem;
}

.mry-2 {
  margin: var(--pdmr-2) 0rem;
}

.pdl-2 {
  padding-left: var(--pdmr-2);
}

.mrl-2 {
  margin-left: var(--pdmr-2);
}

.pdr-2 {
  padding-right: var(--pdmr-2);
}

.mrr-2 {
  margin-right: var(--pdmr-2);
}

.pdt-2 {
  padding-top: var(--pdmr-2);
}

.mrt-2 {
  margin-top: var(--pdmr-2);
}

.pdb-2 {
  padding-bottom: var(--pdmr-2);
}

.mrb-2 {
  margin-bottom: var(--pdmr-2);
}

.mr-3 {
  margin: var(--pdmr-3);
}

.pd-3 {
  padding: var(--pdmr-3);
}

.pdx-3 {
  padding: 0rem var(--pdmr-3);
}

.mrx-3 {
  margin: 0rem var(--pdmr-3);
}

.pdy-3 {
  padding: var(--pdmr-3) 0rem;
}

.mry-3 {
  margin: var(--pdmr-3) 0rem;
}

.pdl-3 {
  padding-left: var(--pdmr-3);
}

.mrl-3 {
  margin-left: var(--pdmr-3);
}

.pdr-3 {
  padding-right: var(--pdmr-3);
}

.mrr-3 {
  margin-right: var(--pdmr-3);
}

.pdt-3 {
  padding-top: var(--pdmr-3);
}

.mrt-3 {
  margin-top: var(--pdmr-3);
}

.pdb-3 {
  padding-bottom: var(--pdmr-3);
}

.mrb-3 {
  margin-bottom: var(--pdmr-3);
}

.mr-4 {
  margin: var(--pdmr-4);
}

.pd-4 {
  padding: var(--pdmr-4);
}

.pdx-4 {
  padding: 0rem var(--pdmr-4);
}

.mrx-4 {
  margin: 0rem var(--pdmr-4);
}

.pdy-4 {
  padding: var(--pdmr-4) 0rem;
}

.mry-4 {
  margin: var(--pdmr-4) 0rem;
}

.pdl-4 {
  padding-left: var(--pdmr-4);
}

.mrl-4 {
  margin-left: var(--pdmr-4);
}

.pdr-4 {
  padding-right: var(--pdmr-4);
}

.mrr-4 {
  margin-right: var(--pdmr-4);
}

.pdt-4 {
  padding-top: var(--pdmr-4);
}

.mrt-4 {
  margin-top: var(--pdmr-4);
}

.pdb-4 {
  padding-bottom: var(--pdmr-4);
}

.mrb-4 {
  margin-bottom: var(--pdmr-4);
}

.mr-5 {
  margin: var(--pdmr-5);
}

.pd-5 {
  padding: var(--pdmr-5);
}

.pdx-5 {
  padding: 0rem var(--pdmr-5);
}

.mrx-5 {
  margin: 0rem var(--pdmr-5);
}

.pdy-5 {
  padding: var(--pdmr-5) 0rem;
}

.mry-5 {
  margin: var(--pdmr-5) 0rem;
}

.pdl-5 {
  padding-left: var(--pdmr-5);
}

.mrl-5 {
  margin-left: var(--pdmr-5);
}

.pdr-5 {
  padding-right: var(--pdmr-5);
}

.mrr-5 {
  margin-right: var(--pdmr-5);
}

.pdt-5 {
  padding-top: var(--pdmr-5);
}

.mrt-5 {
  margin-top: var(--pdmr-5);
}

.pdb-5 {
  padding-bottom: var(--pdmr-5);
}

.mrb-5 {
  margin-bottom: var(--pdmr-5);
}

.mr-6 {
  margin: var(--pdmr-6);
}

.pd-6 {
  padding: var(--pdmr-6);
}

.pdx-6 {
  padding: 0rem var(--pdmr-6);
}

.mrx-6 {
  margin: 0rem var(--pdmr-6);
}

.pdy-6 {
  padding: var(--pdmr-6) 0rem;
}

.mry-6 {
  margin: var(--pdmr-6) 0rem;
}

.pdl-6 {
  padding-left: var(--pdmr-6);
}

.mrl-6 {
  margin-left: var(--pdmr-6);
}

.pdr-6 {
  padding-right: var(--pdmr-6);
}

.mrr-6 {
  margin-right: var(--pdmr-6);
}

.pdt-6 {
  padding-top: var(--pdmr-6);
}

.mrt-6 {
  margin-top: var(--pdmr-6);
}

.pdb-6 {
  padding-bottom: var(--pdmr-6);
}

.mrb-6 {
  margin-bottom: var(--pdmr-6);
}

.w-1 {
  width: var(--wd-1);
}

.w-2 {
  width: var(--wd-2);
}

.w-3 {
  width: var(--wd-3);
}

.w-4 {
  width: var(--wd-4);
}

.w-5 {
  width: var(--wd-5);
}

.w-6 {
  width: var(--wd-6);
}

.w-full {
  width: 100%;
}

.w-screen {
  width: 100vw;
}

.h-full {
  height: 100%;
}

.h-screen {
  height: 100vw;
}

.tc-primary {
  color: var(--color-primary);
}

.bg-primary {
  background-color: var(--color-primary);
}

.tc-secondary {
  color: var(--color-secondary);
}

.bg-secondary {
  background-color: var(--color-secondary);
}

.tc-link {
  color: var(--color-link);
}

.bg-link {
  background-color: var(--color-link);
}

.tc-success {
  color: var(--color-success);
}

.bg-success {
  background-color: var(--color-success);
}

.tc-danger {
  color: var(--color-danger);
}

.bg-danger {
  background-color: var(--color-danger);
}

.tc-warning {
  color: var(--color-warning);
}

.bg-warning {
  background-color: var(--color-warning);
}

.tc-info {
  color: var(--color-info);
}

.bg-info {
  background-color: var(--color-info);
}

.tc-light {
  color: var(--color-light);
}

.bg-light {
  background-color: var(--color-light);
}

.tc-dark {
  color: var(--color-dark);
}

.bg-dark {
  background-color: var(--color-dark);
}

.tc-white {
  color: var(--color-white);
}

.bg-white {
  background-color: var(--color-white);
}

.tc-disabled {
  color: var(--color-disabled);
}

.bg-disabled {
  background-color: var(--color-disabled);
}

.tc-black {
  color: var(--color-black);
}

.bg-black {
  background-color: var(--color-black);
}

.ts-1 {
  font-size: var(--size-1);
}
@media (max-width: 1024px) {
  .ts-1 {
    font-size: calc(var(--size-1)/1.25);
  }
}
@media (max-width: 768px) {
  .ts-1 {
    font-size: calc(var(--size-1)/1.5);
  }
}
@media (max-width: 480px) {
  .ts-1 {
    font-size: calc(var(--size-1)/2.0);
  }
}

.ts-2 {
  font-size: var(--size-2);
}
@media (max-width: 1024px) {
  .ts-2 {
    font-size: calc(var(--size-2)/1.25);
  }
}
@media (max-width: 768px) {
  .ts-2 {
    font-size: calc(var(--size-2)/1.5);
  }
}
@media (max-width: 480px) {
  .ts-2 {
    font-size: calc(var(--size-2)/2.0);
  }
}

.ts-3 {
  font-size: var(--size-3);
}
@media (max-width: 1024px) {
  .ts-3 {
    font-size: calc(var(--size-3)/1.25);
  }
}
@media (max-width: 768px) {
  .ts-3 {
    font-size: calc(var(--size-3)/1.5);
  }
}
@media (max-width: 480px) {
  .ts-3 {
    font-size: calc(var(--size-3)/2.0);
  }
}

.ts-4 {
  font-size: var(--size-4);
}
@media (max-width: 1024px) {
  .ts-4 {
    font-size: calc(var(--size-4)/1.25);
  }
}
@media (max-width: 768px) {
  .ts-4 {
    font-size: calc(var(--size-4)/1.5);
  }
}
@media (max-width: 480px) {
  .ts-4 {
    font-size: calc(var(--size-4)/2.0);
  }
}

.ts-5 {
  font-size: var(--size-5);
}
@media (max-width: 1024px) {
  .ts-5 {
    font-size: calc(var(--size-5)/1.25);
  }
}
@media (max-width: 768px) {
  .ts-5 {
    font-size: calc(var(--size-5)/1.5);
  }
}
@media (max-width: 480px) {
  .ts-5 {
    font-size: calc(var(--size-5)/2.0);
  }
}

.ts-6 {
  font-size: var(--size-6);
}
@media (max-width: 1024px) {
  .ts-6 {
    font-size: calc(var(--size-6)/1.25);
  }
}
@media (max-width: 768px) {
  .ts-6 {
    font-size: calc(var(--size-6)/1.5);
  }
}
@media (max-width: 480px) {
  .ts-6 {
    font-size: calc(var(--size-6)/2.0);
  }
}

.tw-1 {
  font-weight: 200;
}

.tw-2 {
  font-weight: 400;
}

.tw-3 {
  font-weight: 600;
}

.tw-4 {
  font-weight: 800;
}

.ta-center {
  text-align: center;
}

@media (max-width: 1024px) {
  .ta-center-l {
    text-align: center;
  }
}
@media (max-width: 768px) {
  .ta-center-t {
    text-align: center;
  }
}
@media (max-width: 480px) {
  .ta-center-m {
    text-align: center;
  }
}
.ta-left {
  text-align: left;
}

@media (max-width: 1024px) {
  .ta-left-l {
    text-align: left;
  }
}
@media (max-width: 768px) {
  .ta-left-t {
    text-align: left;
  }
}
@media (max-width: 480px) {
  .ta-left-m {
    text-align: left;
  }
}
.ta-right {
  text-align: right;
}

@media (max-width: 1024px) {
  .ta-right-l {
    text-align: right;
  }
}
@media (max-width: 768px) {
  .ta-right-t {
    text-align: right;
  }
}
@media (max-width: 480px) {
  .ta-right-m {
    text-align: right;
  }
}
.ta-justify {
  text-align: justify;
}

@media (max-width: 1024px) {
  .ta-justify-l {
    text-align: justify;
  }
}
@media (max-width: 768px) {
  .ta-justify-t {
    text-align: justify;
  }
}
@media (max-width: 480px) {
  .ta-justify-m {
    text-align: justify;
  }
}
.t-capital {
  text-transform: capitalize;
}

.t-lower {
  text-transform: lowercase;
}

.t-upper {
  text-transform: uppercase;
}

.t-italic {
  font-style: italic;
}

.fl-row {
  display: flex;
  gap: 10px;
}

.fl-col {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.fl-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fl-justify-center {
  justify-content: center;
}

.fl-align-center {
  align-items: center;
}

.fl-justify-between {
  justify-content: space-between;
}

.fl-align-between {
  align-items: space-between;
}

.fl-justify-around {
  justify-content: space-around;
}

.fl-align-around {
  align-items: space-around;
}

.fl-justify-evenly {
  justify-content: space-evenly;
}

.fl-align-evenly {
  align-items: space-evenly;
}

.fl-justify-end {
  justify-content: flex-end;
}

.fl-align-end {
  align-items: flex-end;
}

.fl-justify-start {
  justify-content: flex-start;
}

.fl-align-start {
  align-items: flex-start;
}

.br-1 {
  border-radius: var(--br-1);
}

.br-tl-1 {
  border-top-left-radius: var(--br-1);
}

.br-tr-1 {
  border-top-right-radius: var(--br-1);
}

.br-bl-1 {
  border-bottom-left-radius: var(--br-1);
}

.br-br-1 {
  border-bottom-right-radius: var(--br-1);
}

.br-2 {
  border-radius: var(--br-2);
}

.br-tl-2 {
  border-top-left-radius: var(--br-2);
}

.br-tr-2 {
  border-top-right-radius: var(--br-2);
}

.br-bl-2 {
  border-bottom-left-radius: var(--br-2);
}

.br-br-2 {
  border-bottom-right-radius: var(--br-2);
}

.br-3 {
  border-radius: var(--br-3);
}

.br-tl-3 {
  border-top-left-radius: var(--br-3);
}

.br-tr-3 {
  border-top-right-radius: var(--br-3);
}

.br-bl-3 {
  border-bottom-left-radius: var(--br-3);
}

.br-br-3 {
  border-bottom-right-radius: var(--br-3);
}

.br-4 {
  border-radius: var(--br-4);
}

.br-tl-4 {
  border-top-left-radius: var(--br-4);
}

.br-tr-4 {
  border-top-right-radius: var(--br-4);
}

.br-bl-4 {
  border-bottom-left-radius: var(--br-4);
}

.br-br-4 {
  border-bottom-right-radius: var(--br-4);
}

.br-5 {
  border-radius: var(--br-5);
}

.br-tl-5 {
  border-top-left-radius: var(--br-5);
}

.br-tr-5 {
  border-top-right-radius: var(--br-5);
}

.br-bl-5 {
  border-bottom-left-radius: var(--br-5);
}

.br-br-5 {
  border-bottom-right-radius: var(--br-5);
}

.br-6 {
  border-radius: var(--br-6);
}

.br-tl-6 {
  border-top-left-radius: var(--br-6);
}

.br-tr-6 {
  border-top-right-radius: var(--br-6);
}

.br-bl-6 {
  border-bottom-left-radius: var(--br-6);
}

.br-br-6 {
  border-bottom-right-radius: var(--br-6);
}

.br-circle {
  border-radius: 9999px;
}

.hidden {
  display: none;
}

.d-inline {
  display: inline;
}

.d-block {
  display: block;
}

@media (max-width: 1024px) {
  .hidden-l {
    display: none;
  }

  .d-inline-l {
    display: inline;
  }

  .d-block-l {
    display: block;
  }
}
@media (max-width: 768px) {
  .hidden-t {
    display: none;
  }

  .d-inline-t {
    display: inline;
  }

  .d-block-t {
    display: block;
  }
}
@media (max-width: 480px) {
  .hidden-m {
    display: none;
  }

  .d-inline-m {
    display: inline;
  }

  .d-block-m {
    display: block;
  }
}
.sh-1 {
  box-shadow: var(--shadow-1);
}

.sh-2 {
  box-shadow: var(--shadow-2);
}

.sh-3 {
  box-shadow: var(--shadow-3);
}

.sh-4 {
  box-shadow: var(--shadow-4);
}

.sh-5 {
  box-shadow: var(--shadow-5);
}

.sh-6 {
  box-shadow: var(--shadow-6);
}

.btn {
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
}

.btn-ol-primary {
  background-color: transparent;
  border: 1px solid var(--color-primary);
  color: var(--color-primary);
}

.btn-ol-secondary {
  background-color: transparent;
  border: 1px solid var(--color-secondary);
  color: var(--color-secondary);
}

.btn-ol-link {
  background-color: transparent;
  border: 1px solid var(--color-link);
  color: var(--color-link);
}

.btn-ol-success {
  background-color: transparent;
  border: 1px solid var(--color-success);
  color: var(--color-success);
}

.btn-ol-danger {
  background-color: transparent;
  border: 1px solid var(--color-danger);
  color: var(--color-danger);
}

.btn-ol-warning {
  background-color: transparent;
  border: 1px solid var(--color-warning);
  color: var(--color-warning);
}

.btn-ol-info {
  background-color: transparent;
  border: 1px solid var(--color-info);
  color: var(--color-info);
}

.btn-ol-light {
  background-color: transparent;
  border: 1px solid var(--color-light);
  color: var(--color-light);
}

.btn-ol-dark {
  background-color: transparent;
  border: 1px solid var(--color-dark);
  color: var(--color-dark);
}

.btn-ol-white {
  background-color: transparent;
  border: 1px solid var(--color-white);
  color: var(--color-white);
}

.btn-ol-disabled {
  background-color: transparent;
  border: 1px solid var(--color-disabled);
  color: var(--color-disabled);
}

.btn-ol-black {
  background-color: transparent;
  border: 1px solid var(--color-black);
  color: var(--color-black);
}

.card {
  padding: 1rem 1rem;
  margin: 1rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  display: inline-block;
}

.modal-bg {
  position: absolute;
  top: 0;
  padding: 0;
  margin: 0;
  border-radius: 0px;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.568);
  display: none;
  justify-content: center;
  align-items: center;
}

.modal-content {
  position: relative;
  background-color: white;
  padding: 1rem 1rem;
  margin: 1rem;
  max-width: 50%;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  display: inline-block;
}

.is-modal-active {
  display: flex;
}

.close {
  position: absolute;
  width: 40px;
  top: -25px;
  right: -25px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
}

.nav-items {
  display: flex;
  align-items: center;
  gap: 15px;
}

.logo {
  display: flex;
  justify-content: flex-end;
}

.nav-item {
  font-weight: bold;
  padding: 0.3rem 1rem;
  border-radius: 10px;
  text-transform: uppercase;
}

.is-nav-active {
  background-color: rgba(211, 211, 211, 0.178);
}

.nav-item:hover {
  background-color: rgba(211, 211, 211, 0.178);
}

.nav-items a {
  color: inherit;
}

#logo {
  width: 240px;
  height: 50px;
  object-fit: contain;
}

.burger {
  display: none;
  cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

@media (max-width: 720px) {
  .nav-items {
    display: none;
  }

  .nav-open {
    padding: 1rem;
    position: absolute;
    background-color: inherit;
    left: 0;
    top: 60px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
  }

  .nav-open a {
    padding: 0.4rem 1rem;
  }

  .burger {
    display: inline-block;
  }
}