$axes: x y;
$directions: (
  l: left,
  r: right,
  t: top,
  b: bottom,
);

@each $spacing in $spacings {
  $index: index(
      $list: $spacings,
      $value: $spacing,
    )-1;
  .m-#{$index} {
    margin: var($spacing);
  }

  .p-#{$index} {
    padding: var($spacing);
  }

  @each $axis in $axes {
    @if $axis == x {
      .px-#{$index} {
        padding: 0rem var($spacing);
      }

      .mx-#{$index} {
        margin: 0rem var($spacing);
      }
    }

    @if $axis == y {
      .py-#{$index} {
        padding: var($spacing) 0rem;
      }

      .my-#{$index} {
        margin: var($spacing) 0rem;
      }
    }
  }

  @each $tag, $direction in $directions {
    .p#{$tag}-#{$index} {
      padding-#{$direction}: var($spacing);
    }

    .m#{$tag}-#{$index} {
      margin-#{$direction}: var($spacing);
    }
  }
}
@each $width in $widths {
  $index: index(
    $list: $widths,
    $value: $width,
  );
  .w-#{$index} {
    width: var($width);
  }
  @include laptop {
    .w-#{$index}-l {
      width: var($width);
    }
  }
  @include tablet {
    .w-#{$index}-t {
      width: var($width);
    }
  }

  @include mobile {
    .w-#{$index}-m {
      width: var($width);
    }
  }
}
.w-full {
  width: 100%;
}
.w-screen {
  width: 100vw;
}
.h-full {
  height: 100%;
}
.h-screen {
  height: 100vh;
}

@include laptop {
  .w-full-l {
    width: 100%;
  }
  .w-screen-l {
    width: 100vh;
  }
  .h-screen-l {
    height: 100vh;
  }
  .h-full-l {
    height: 100%;
  }
}
@include tablet {
  .w-full-t {
    width: 100%;
  }
  .w-screen-t {
    width: 100vh;
  }
  .h-screen-t {
    height: 100vh;
  }
  .h-full-t {
    height: 100%;
  }
}

@include mobile {
  .w-full-m {
    width: 100%;
  }
  .w-screen-m {
    width: 100vh;
  }
  .h-screen-m {
    height: 100vh;
  }
  .h-full-m {
    height: 100%;
  }
}
