// TEXT
$global-font: "Roboto", sans-serif;

// $size-1: 0.75rem;
// $size-2: 1.25rem;
// $size-3: 1.75rem;
// $size-4: 2.25rem;
// $size-5: 2.75rem;
// $size-6: 3.25rem;

$weights: 200 400 600 800;

$sizes: --size-1 --size-2 --size-3 --size-4 --size-5 --size-6;
$widths: --wd-1 --wd-2 --wd-3 --wd-4 --wd-5 --wd-6;

$colors: --color-primary --color-secondary --color-link --color-success
  --color-danger --color-warning --color-info --color-light --color-dark
  --color-white --color-disabled --color-black;

$spacings: --pdmr-0 --pdmr-1 --pdmr-2 --pdmr-3 --pdmr-4 --pdmr-5 --pdmr-6;

$borderRadius: --br-1 --br-2 --br-3 --br-4 --br-5 --br-6;
$shadows: --shadow-1 --shadow-2 --shadow-3 --shadow-4 --shadow-5 --shadow-6;
