// TEXT
$global-font:'Roboto', sans-serif;

// $size-1: 0.75rem;
// $size-2: 1.25rem;
// $size-3: 1.75rem;
// $size-4: 2.25rem;
// $size-5: 2.75rem;
// $size-6: 3.25rem;

$weights: 200 400  600  800 ;

$sizes: --size-1 --size-2 --size-3 --size-4 --size-5 --size-6;

$colors: --color-primary --color-secondary --color-success --color-danger
  --color-warning --color-info --color-light --color-dark --color-white
  --color-disabled;

$spacings: --pdmr-0 --pdmr-1 --pdmr-2 --pdmr-3 --pdmr-4 --pdmr-5 --pdmr-6;