*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1,h2,h3,h4,h5,h6,p{
    font-size: 100%;
    font-weight: normal;
}

a{
    text-decoration: none;
    color:black;
}

ul{
    list-style-type: none;
}